/* footer */

footer>small {
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: black; */
}

.footer-partners {
  margin-top: px;
}

.footer-partners>ul {
  margin-right: 10vh;
}

.footer-partners>ul>li {
  /* margin: 10px; */
  list-style: none;
  color: chartreuse;
}

.footer-partners {
  width: 30%;
  /* background-color: chartreuse; */
}

.footer-latest-work {
  width: 30%;
  margin: -5vh 0 0 10vw;
}